/*-----------------reset style begin---------------------*/
body{line-height:1.4286; color:#000; font-family:'苹方 常规','微软雅黑',arial; font-size:0.75rem;}
input,textarea,select{font-size:100%; font-family:inherit;}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form{margin:0;}
h4,h5,h6{font-size:1em;}
ul,ol{padding-left:0; list-style-type:none;}
/*image with no-border*/
img{border:0; width:100%; display:block}
/*-----------------reset style end---------------------*/

/*-----------------public style begin-----------------*/
@media screen and (min-width:640px){
    html{font-size:32px!important;}
}

html,body{height:100%;}
body{width:20rem; margin:0 auto; position:relative; overflow:auto;}

a{text-decoration:none; outline:none;}

.clear{*zoom:1;}
.clear:after{content:"";display:table;clear:both;}

.left{float:left;}
.right{float:right}
.pos_rel{position:relative}
.pos_abs{position:absolute;}
.pos_abs_100{position:absolute; width:100%; height:100%;}
.pos_fix{position:fixed;}
.pos_fix_100{position:fixed; left:0; top:0; right:0; bottom:0; z-index:9;}

.ov_h{overflow:hidden;}

/*-- 开启怪异模式 ↓ --*/
.box_sizing{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

/*-- 垂直水平居中 ↓ --*/
.center_middle{position:absolute; left:50%; top:50%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}

/*-- 水平居中 ↓ --*/
.pos_center{position:absolute; left:50%; -webkit-transform: translate(-50%,0); -ms-transform: translate(-50%,0); -o-transform: translate(-50%,0); transform: translate(-50%,0);}

/*-- 垂直居中 ↓ --*/
.pos_middle{position:absolute; top:50%; -webkit-transform: translate(0,-50%); -ms-transform: translate(0,-50%); -o-transform: translate(0,-50%); transform: translate(0,-50%);}

/*背景*/
.bg_100{background-size:100% 100%; background-repeat:no-repeat;}

/*图片模式*/
.img_w{display:block; width:100%;}
.img{display:block; width:100%; height:100%; margin:0 auto;}
.img_cen{display:block; height:100%; margin:0 auto;}

/*字体颜色*/
.c_orange{color:#ffc000;}
